In [5]:
import sys
import os
import pandas
import numpy
import psycopg2

In [9]:
from dotenv import load_dotenv
load_dotenv()

DBNAME = os.getenv("dbname")
USERNAME = os.getenv("user")
PASSWORD = os.getenv("password")
HOST = os.getenv("host")
PORT = os.getenv("port")

# Kaggle dataset

[Link to Kaggle dataset, based on WordNet](https://www.kaggle.com/datasets/duketemon/hypernyms-wordnet)

In [10]:
df = pandas.read_csv("data/hypernyms.csv")

In [11]:
df

             lemma part_of_speech                 hypernyms
0                0           noun                     digit
1                1           noun                     digit
2               10           noun             large integer
3              100           noun             large integer
4             1000           noun             large integer
...            ...            ...                       ...
120375      zip by           verb                 travel by
120376      zip up           verb                    fasten
120377    zonk out           verb  change state|fall asleep
120378  zoom along           verb            travel rapidly
120379     zoom in           verb               concentrate

[120380 rows x 3 columns]

In [12]:
nouns_df = df[df["part_of_speech"] == "noun"][["lemma", "hypernyms"]]

In [13]:
nouns_df = nouns_df.dropna()
nouns_df = nouns_df.rename(columns={"lemma": "word", "hypernyms": "categories"})
nouns_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 104504 entries, 0 to 119483
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   word        104504 non-null  object
 1   categories  104504 non-null  object
dtypes: object(2)
memory usage: 2.4+ MB

In [14]:
# assert no duplicates
assert len(nouns_df) == len(nouns_df['word'].unique())
print("Passed")

Passed

## Some thoughts

- A lot of noisy data - not the best
- building up might be more efficient than building down: the most hypernyms a word has is 33
- What if there's a cycle? This dataset does not look good because it might have synonyms. We may have to use other datasets
    - Band-aid solution would be to remove the cycles
 
Some better resources:
- [EVALuation](https://paperswithcode.com/dataset/evalution)
- [EVALuation Github](https://github.com/esantus/EVALution/tree/master/EVALution_1.0)
- [Linked Hypernyms Dataset](https://ner.vse.cz/datasets/linkedhypernyms/)

In [15]:
nouns_df

            word             categories
0              0                  digit
1              1                  digit
2             10          large integer
3            100          large integer
4           1000          large integer
...          ...                    ...
117570    obsess               medicine
118039   possess                 police
118833  saw logs                    log
119084      siss         female sibling
119483   succuss  liquid body substance

[104504 rows x 2 columns]

### Some data analysis

In [16]:
nouns_df[nouns_df["categories"].str.contains(';')].head(50)

             word                                         categories
57     aboriginal                     australian;ethnic group|person
112        acting                           activity;performing arts
126        adagio                musical composition;passage|dancing
127       adamant                             carbon;transparent gem
246    allegretto                  tempo|musical composition;passage
247       allegro                  tempo|musical composition;passage
277      amethyst                             quartz;transparent gem
298       andante                  tempo|musical composition;passage
430     arsenical                                     drug;pesticide
443         asian                         inhabitant;person of color
444       asiatic                         inhabitant;person of color
472     ataractic               psychotropic agent;sedative-hypnotic
504     automatic  automatic firearm;machine gun|automatic firear...
536         bahai                                   disciple;teacher
661          beta    letter|caryophylloid dicot genus;chenopodiaceae
707         black  achromatic color|dark|person;person of color|m...
812        bowing                          gesture;reverence|playing
814        bowleg                                     disability;leg
820       bracing                     strengthener;structural member
861     broadside     ad|declamation;denunciation|armament|side|fire
942             c  degree|constant;speed|antioxidant;water-solubl...
997     cardboard                             packing material;paper
1041           cd  metallic element|luminous intensity unit|debt ...
1089     charcoal         carbon;fuel|writing implement|gray|drawing
1112       cherry             wood|fruit tree|drupe;edible fruit|red
1145           cl  chemical element;gas;halogen|metric capacity unit
1212         cold  communicable disease;respiratory disease|tempe...
1255  commonplace                                      remark;truism
1259  comparative                                   adjective;adverb
1288     concrete                           building material;paving
1294  confederate           southerner;supporter|accessory|assistant
1366   contrabass                     bass;bowed stringed instrument
1409     coronary                  coronary heart disease;thrombosis
1458        crank  unpleasant person|eccentric|amphetamine;contro...
1501        crude                                    fossil fuel;oil
1536       custom              practice;survival|practice|duty|trade
1554     cyrillic                          alphabet;bicameral script
1708   depressant                             drug of abuse;medicine
1762     diagonal  straight line|straight line|line;line|set|punc...
1971    drinkable                                        food;liquid
1974      driving                        golf stroke|steering;travel
2047        eight                digit|artistic movement;school|spot
2056      elastic                         band;elastic device|fabric
2215   eurafrican                                   african;european
2216     eurasian                                     asian;european
2291       facial           cranial nerve|beauty treatment;skin care
2394         five                         digit|team|die;domino;spot
2408        flash  happening|brightness|experience|insight|moment...
2493       formal                              dance|formalwear;gown
2519         four                              digit|die;domino;spot

In [17]:
nouns_df[nouns_df["word"] == "melon"]

        word          categories
67179  melon  edible fruit|gourd

## Using PostgreSQL

In [18]:
conn = psycopg2.connect(
    dbname=DBNAME,
    user=USERNAME,
    password=PASSWORD,
    host=HOST,
    port=PORT
)

cursor = conn.cursor()

In [19]:
print(conn.get_dsn_parameters())

{'user': 'postgres', 'channel_binding': 'prefer', 'dbname': 'linguini', 'host': 'localhost', 'port': '5432', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'sslsni': '1', 'ssl_min_protocol_version': 'TLSv1.2', 'gssencmode': 'prefer', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

In [20]:
def initCategoriesTable():
    queries = [
        "DROP TABLE IF EXISTS categories;",
        '''
        CREATE TABLE IF NOT EXISTS categories(
            word TEXT NOT NULL,
            category TEXT NOT NULL,
            PRIMARY KEY(word, category)
        );
        ''',
        '''
        CREATE INDEX IF NOT EXISTS word_idx ON categories(word);
        ''',
        '''
        CREATE INDEX IF NOT EXISTS category_idx ON categories(category);
        '''
    ]

    try:
        for query in queries:
            cursor.execute(query)

        conn.commit()
        print("Successfully initialized database.")
    except:
        conn.rollback()
        print("Categories Table initialization failed, rolling back")
        


initCategoriesTable()

Successfully initialized database.

In [21]:
# loading the data

def load_data():
    try:
        for idx, row in nouns_df.iterrows():
            word = row["word"]
            groups = row["categories"].split("|")
            categories = set()
            for group in groups:
                values = group.split(";")
                for value in values:
                    categories.add(value)
                   
            for category in categories:
                insert_query = "INSERT INTO categories VALUES (%s,%s)"
                data = (word, category)
                cursor.execute(insert_query, data)
        conn.commit()
        print("Successfully loaded words data into database")
    except Exception as e:
        conn.rollback()
        print(f"Error: ({e})")

load_data()

Successfully loaded words data into database

In [22]:
cursor.execute("SELECT * FROM categories LIMIT 10")
print(cursor.fetchall())

[('0', 'digit'), ('1', 'digit'), ('10', 'large integer'), ('100', 'large integer'), ('1000', 'large integer'), ('11', 'large integer'), ('12', 'large integer'), ('120', 'large integer'), ('13', 'large integer'), ('14', 'large integer')]

## Wrangling

In [23]:
def make_query(query):
    try:
        cursor.execute(query)
        return cursor.fetchall()
    except Exception as e:
        conn.rollback()
        print(f"An error occurred: {e}")

In [24]:
query = "SELECT * FROM categories WHERE category = 'communications technology'"
result = make_query(query)

print(len(result))
print(result)

1
[('digital communications technology', 'communications technology')]

## Turn into recursion

### A test with cycles and simple data

In [25]:
def initTestTable():
    queries = [
        "DROP TABLE IF EXISTS test;",
        '''
        CREATE TABLE IF NOT EXISTS test(
            word TEXT NOT NULL,
            category TEXT NOT NULL,
            PRIMARY KEY(word, category)
        );
        ''',
        '''
        CREATE INDEX IF NOT EXISTS word_idx ON test(word);
        ''',
        '''
        CREATE INDEX IF NOT EXISTS category_idx ON test(category);
        '''
    ]

    try:
        for query in queries:
            cursor.execute(query)

        conn.commit()
        print("Successfully initialized test table.")
    except:
        conn.rollback()
        print("Test Table initialization failed, rolling back")
        


initTestTable()

Successfully initialized test table.

In [26]:
def load_test_data():
    try:
        queries = [
            "INSERT INTO test VALUES ('a','b')",
            "INSERT INTO test VALUES ('b','c')",
            "INSERT INTO test VALUES ('c','a')",
            "INSERT INTO test VALUES ('d','e')",
            "INSERT INTO test VALUES ('e','d')",
            "INSERT INTO test VALUES ('f','d')",
            
        ]
        
        for query in queries:
            cursor.execute(query)
        conn.commit()
        print("Successfully loaded into test database")
    except Exception as e:
        conn.rollback()
        print(f"Error: ({e})")

load_test_data()

Successfully loaded into test database

In [27]:
search_query = "SELECT * FROM test"
make_query(search_query)

[('a', 'b'), ('b', 'c'), ('c', 'a'), ('d', 'e'), ('e', 'd'), ('f', 'd')]

In [28]:
recursion_query = """
    WITH RECURSIVE 
    hypernyms(word, category) AS (
        SELECT word, category FROM test
        UNION
        SELECT h.word, t.category
        FROM hypernyms h, test t
        WHERE h.category = t.word AND h.word != t.category
    )
SELECT * FROM hypernyms;
"""

make_query(recursion_query)

[('a', 'b'),
 ('b', 'c'),
 ('c', 'a'),
 ('d', 'e'),
 ('e', 'd'),
 ('f', 'd'),
 ('c', 'b'),
 ('a', 'c'),
 ('b', 'a'),
 ('f', 'e')]

### Now with real data

In [29]:
group_by_category = '''
    SELECT category, COUNT(*) as count
    FROM categories
    GROUP BY category
    HAVING COUNT(*) >= 65
    ORDER BY count DESC;
'''

len(make_query(group_by_category))

212

### Next steps:
- How do you deal with groups and hypernyms of hypernyms?
- Group handling
- Dropping the groups with less than 50 words?

# MVP: Validate if a word is in a category

* It appears that the categories database is too big. If we're to hold the entire database somewhere, it'll practically explod. It might just be faster to search linearly.
* At most this is O(n) time but it's very rare.

In [30]:
def validate(word, category) -> bool:   
    validation_query = """
       WITH RECURSIVE 
        search(word, category) AS(
            SELECT word, category FROM categories WHERE word = %s

            UNION 

            SELECT s.word, c.category
            FROM search s, categories c
            WHERE s.category = c.word AND s.word != c.category
        )

        SELECT * 
        FROM search
        WHERE word = %s AND category = %s
    """
    try:
        cursor.execute(validation_query, (word, word, category))
        result = cursor.fetchall()
        return len(result) > 0
    except Exception as e:
        conn.rollback()
        print(f"An error occurred: {e}")


result = validate("grizzly", "bear")
print(result)

True

In [32]:
import random

# TODO: Keep the rng constant
arr = [1,2,3,4,5]
for i in range(20):
    random.seed(42)
    random.shuffle(arr)
    print(arr)

[4, 2, 3, 5, 1]
[5, 2, 3, 1, 4]
[1, 2, 3, 4, 5]
[4, 2, 3, 5, 1]
[5, 2, 3, 1, 4]
[1, 2, 3, 4, 5]
[4, 2, 3, 5, 1]
[5, 2, 3, 1, 4]
[1, 2, 3, 4, 5]
[4, 2, 3, 5, 1]
[5, 2, 3, 1, 4]
[1, 2, 3, 4, 5]
[4, 2, 3, 5, 1]
[5, 2, 3, 1, 4]
[1, 2, 3, 4, 5]
[4, 2, 3, 5, 1]
[5, 2, 3, 1, 4]
[1, 2, 3, 4, 5]
[4, 2, 3, 5, 1]
[5, 2, 3, 1, 4]

### We need to get all categories that "have enough words"

In [34]:
categories = make_query("SELECT DISTINCT category FROM categories") # TODO: We need to limit this

assert len(categories) == len(set(categories))

random.shuffle(categories)

score = 0
num_categories = 0;

guess = "STOP"

while guess != "STOP" or score >= 1000:
    for category in categories:
        print(f"Category: {category} Current score: {score}")
        num_categories += 1
        
        guess = input("Enter your guess: ")
        while(not validate(guess, category) and guess != "SKIP"):
            guess = input("Incorrect guess, try again: ")
        if guess == "SKIP":
            continue
        else:
            score += len(guess)

if score >= 1000:
    print(f"Game complete! Final number of categories: {num_categories}")
else:
    print("You exited the game")

You exited the game