In [1]:
import sys
import os
import pandas
import numpy
import psycopg2

In [2]:
from dotenv import load_dotenv
load_dotenv()

DBNAME = os.getenv("dbname")
USERNAME = os.getenv("user")
PASSWORD = os.getenv("password")
HOST = os.getenv("host")
PORT = os.getenv("port")

# Kaggle dataset

[Link to Kaggle dataset, based on WordNet](https://www.kaggle.com/datasets/duketemon/hypernyms-wordnet)

In [3]:
df = pandas.read_csv("data/hypernyms.csv")

In [4]:
df

             lemma part_of_speech                 hypernyms
0                0           noun                     digit
1                1           noun                     digit
2               10           noun             large integer
3              100           noun             large integer
4             1000           noun             large integer
...            ...            ...                       ...
120375      zip by           verb                 travel by
120376      zip up           verb                    fasten
120377    zonk out           verb  change state|fall asleep
120378  zoom along           verb            travel rapidly
120379     zoom in           verb               concentrate

[120380 rows x 3 columns]

In [5]:
nouns_df = df[df["part_of_speech"] == "noun"][["lemma", "hypernyms"]]

In [6]:
nouns_df = nouns_df.dropna()
nouns_df = nouns_df.rename(columns={"lemma": "word", "hypernyms": "categories"})
nouns_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 104504 entries, 0 to 119483
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   word        104504 non-null  object
 1   categories  104504 non-null  object
dtypes: object(2)
memory usage: 2.4+ MB

In [7]:
# assert no duplicates
assert len(nouns_df) == len(nouns_df['word'].unique())
print("Passed")

Passed

## Some thoughts

- A lot of noisy data - not the best
- building up might be more efficient than building down: the most hypernyms a word has is 33
- What if there's a cycle? This dataset does not look good because it might have synonyms. We may have to use other datasets
    - Band-aid solution would be to remove the cycles
 
Some better resources:
- [EVALuation](https://paperswithcode.com/dataset/evalution)
- [EVALuation Github](https://github.com/esantus/EVALution/tree/master/EVALution_1.0)
- [Linked Hypernyms Dataset](https://ner.vse.cz/datasets/linkedhypernyms/)

In [8]:
nouns_df

            word             categories
0              0                  digit
1              1                  digit
2             10          large integer
3            100          large integer
4           1000          large integer
...          ...                    ...
117570    obsess               medicine
118039   possess                 police
118833  saw logs                    log
119084      siss         female sibling
119483   succuss  liquid body substance

[104504 rows x 2 columns]

### Some data analysis

In [9]:
nouns_df[nouns_df["categories"].str.contains(';')].head(50)

             word                                         categories
57     aboriginal                     australian;ethnic group|person
112        acting                           activity;performing arts
126        adagio                musical composition;passage|dancing
127       adamant                             carbon;transparent gem
246    allegretto                  tempo|musical composition;passage
247       allegro                  tempo|musical composition;passage
277      amethyst                             quartz;transparent gem
298       andante                  tempo|musical composition;passage
430     arsenical                                     drug;pesticide
443         asian                         inhabitant;person of color
444       asiatic                         inhabitant;person of color
472     ataractic               psychotropic agent;sedative-hypnotic
504     automatic  automatic firearm;machine gun|automatic firear...
536         bahai                                   disciple;teacher
661          beta    letter|caryophylloid dicot genus;chenopodiaceae
707         black  achromatic color|dark|person;person of color|m...
812        bowing                          gesture;reverence|playing
814        bowleg                                     disability;leg
820       bracing                     strengthener;structural member
861     broadside     ad|declamation;denunciation|armament|side|fire
942             c  degree|constant;speed|antioxidant;water-solubl...
997     cardboard                             packing material;paper
1041           cd  metallic element|luminous intensity unit|debt ...
1089     charcoal         carbon;fuel|writing implement|gray|drawing
1112       cherry             wood|fruit tree|drupe;edible fruit|red
1145           cl  chemical element;gas;halogen|metric capacity unit
1212         cold  communicable disease;respiratory disease|tempe...
1255  commonplace                                      remark;truism
1259  comparative                                   adjective;adverb
1288     concrete                           building material;paving
1294  confederate           southerner;supporter|accessory|assistant
1366   contrabass                     bass;bowed stringed instrument
1409     coronary                  coronary heart disease;thrombosis
1458        crank  unpleasant person|eccentric|amphetamine;contro...
1501        crude                                    fossil fuel;oil
1536       custom              practice;survival|practice|duty|trade
1554     cyrillic                          alphabet;bicameral script
1708   depressant                             drug of abuse;medicine
1762     diagonal  straight line|straight line|line;line|set|punc...
1971    drinkable                                        food;liquid
1974      driving                        golf stroke|steering;travel
2047        eight                digit|artistic movement;school|spot
2056      elastic                         band;elastic device|fabric
2215   eurafrican                                   african;european
2216     eurasian                                     asian;european
2291       facial           cranial nerve|beauty treatment;skin care
2394         five                         digit|team|die;domino;spot
2408        flash  happening|brightness|experience|insight|moment...
2493       formal                              dance|formalwear;gown
2519         four                              digit|die;domino;spot

In [10]:
nouns_df[nouns_df["word"] == "melon"]

        word          categories
67179  melon  edible fruit|gourd

## Using PostgreSQL

In [11]:
conn = psycopg2.connect(
    dbname=DBNAME,
    user=USERNAME,
    password=PASSWORD,
    host=HOST,
    port=PORT
)

cursor = conn.cursor()

In [12]:
print(conn.get_dsn_parameters())

{'user': 'postgres', 'channel_binding': 'prefer', 'dbname': 'linguini', 'host': 'localhost', 'port': '5432', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'sslsni': '1', 'ssl_min_protocol_version': 'TLSv1.2', 'gssencmode': 'prefer', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

In [13]:
def initCategoriesTable():
    queries = [
        "DROP TABLE IF EXISTS categories;",
        '''
        CREATE TABLE IF NOT EXISTS categories(
            word TEXT NOT NULL,
            category TEXT NOT NULL,
            PRIMARY KEY(word, category)
        );
        ''',
        '''
        CREATE INDEX IF NOT EXISTS word_idx ON categories(word);
        ''',
        '''
        CREATE INDEX IF NOT EXISTS category_idx ON categories(category);
        '''
    ]

    try:
        for query in queries:
            cursor.execute(query)

        conn.commit()
        print("Successfully initialized database.")
    except:
        conn.rollback()
        print("Categories Table initialization failed, rolling back")
        


initCategoriesTable()

Successfully initialized database.

In [14]:
# loading the data

def load_data():
    try:
        for idx, row in nouns_df.iterrows():
            word = row["word"]
            groups = row["categories"].split("|")
            categories = set()
            for group in groups:
                values = group.split(";")
                for value in values:
                    categories.add(value)
                   
            for category in categories:
                insert_query = "INSERT INTO categories VALUES (%s,%s)"
                data = (word, category)
                cursor.execute(insert_query, data)
        conn.commit()
        print("Successfully loaded words data into database")
    except Exception as e:
        conn.rollback()
        print(f"Error: ({e})")

load_data()

Successfully loaded words data into database

In [15]:
cursor.execute("SELECT * FROM categories LIMIT 10")
print(cursor.fetchall())

[('0', 'digit'), ('1', 'digit'), ('10', 'large integer'), ('100', 'large integer'), ('1000', 'large integer'), ('11', 'large integer'), ('12', 'large integer'), ('120', 'large integer'), ('13', 'large integer'), ('14', 'large integer')]

## Wrangling

In [16]:
def make_query(query):
    try:
        cursor.execute(query)
        return cursor.fetchall()
    except Exception as e:
        conn.rollback()
        print(f"An error occurred: {e}")

In [17]:
get_table_size = "SELECT pg_size_pretty(pg_total_relation_size('categories'));"
result = make_query(get_table_size)
print(result)

[('24 MB',)]

In [58]:
query = "SELECT word, category FROM categories WHERE category = 'region'"
result = make_query(query)

print(len(result))
print(result)

93
[('bottom', 'region'), ('exterior', 'region'), ('inside', 'region'), ('interior', 'region'), ('outside', 'region'), ('side', 'region'), ('sign', 'region'), ('top', 'region'), ('tops', 'region'), ('unknown', 'region'), ('aerospace', 'region'), ('air', 'region'), ('airs', 'region'), ('antipodes', 'region'), ('area', 'region'), ('atmosphere', 'region'), ('backwater', 'region'), ('belt', 'region'), ('biogeographical region', 'region'), ('biosphere', 'region'), ('black hole', 'region'), ('breadbasket', 'region'), ('country', 'region'), ('county', 'region'), ('deep space', 'region'), ('demesne', 'region'), ('depth', 'region'), ('distance', 'region'), ('district', 'region'), ('domain', 'region'), ('dominion', 'region'), ('eden', 'region'), ('edgeworth-kuiper belt', 'region'), ('extremity', 'region'), ('field', 'region'), ('field of operations', 'region'), ('fields', 'region'), ('geographic area', 'region'), ('geographic region', 'region'), ('geographical area', 'region'), ('geographical region', 'region'), ('heartland', 'region'), ('heaven', 'region'), ('heavens', 'region'), ('heliosphere', 'region'), ('hell', 'region'), ('hell on earth', 'region'), ('hellhole', 'region'), ('house', 'region'), ('inferno', 'region'), ('intergalactic space', 'region'), ('interplanetary space', 'region'), ('interstellar space', 'region'), ('ionosphere', 'region'), ('irredenta', 'region'), ('irridenta', 'region'), ('kuiper belt', 'region'), ('laboratory', 'region'), ('land', 'region'), ('layer', 'region'), ('mansion', 'region'), ('mare', 'region'), ('maria', 'region'), ('nirvana', 'region'), ('northland', 'region'), ('papua', 'region'), ('paradise', 'region'), ('planetary house', 'region'), ('promised land', 'region'), ('radius', 'region'), ('shangri-la', 'region'), ('sign of the zodiac', 'region'), ('sind', 'region'), ('snake pit', 'region'), ('southland', 'region'), ('star sign', 'region'), ('terra incognita', 'region'), ('territorial dominion', 'region'), ('territory', 'region'), ('testing ground', 'region'), ('the pits', 'region'), ('theater', 'region'), ('theater of operations', 'region'), ('theater of war', 'region'), ('theatre', 'region'), ('theatre of operations', 'region'), ('theatre of war', 'region'), ('unknown region', 'region'), ('vacuity', 'region'), ('vacuum', 'region'), ('zodiac', 'region'), ('zone', 'region'), ('zone of interior', 'region')]

## Turn into recursion

### A test with cycles and simple data

Over here I was ensuring my logic was correct

In [25]:
def initTestTable():
    queries = [
        "DROP TABLE IF EXISTS test;",
        '''
        CREATE TABLE IF NOT EXISTS test(
            word TEXT NOT NULL,
            category TEXT NOT NULL,
            PRIMARY KEY(word, category)
        );
        ''',
        '''
        CREATE INDEX IF NOT EXISTS word_idx ON test(word);
        ''',
        '''
        CREATE INDEX IF NOT EXISTS category_idx ON test(category);
        '''
    ]

    try:
        for query in queries:
            cursor.execute(query)

        conn.commit()
        print("Successfully initialized test table.")
    except:
        conn.rollback()
        print("Test Table initialization failed, rolling back")
        


initTestTable()

Successfully initialized test table.

In [26]:
def load_test_data():
    try:
        queries = [
            "INSERT INTO test VALUES ('a','b')",
            "INSERT INTO test VALUES ('b','c')",
            "INSERT INTO test VALUES ('c','a')",
            "INSERT INTO test VALUES ('d','e')",
            "INSERT INTO test VALUES ('e','d')",
            "INSERT INTO test VALUES ('f','d')",
            
        ]
        
        for query in queries:
            cursor.execute(query)
        conn.commit()
        print("Successfully loaded into test database")
    except Exception as e:
        conn.rollback()
        print(f"Error: ({e})")

load_test_data()

Successfully loaded into test database

In [27]:
search_query = "SELECT * FROM test"
make_query(search_query)

[('a', 'b'), ('b', 'c'), ('c', 'a'), ('d', 'e'), ('e', 'd'), ('f', 'd')]

In [28]:
recursion_query = """
    WITH RECURSIVE 
    hypernyms(word, category) AS (
        SELECT word, category FROM test
        UNION
        SELECT h.word, t.category
        FROM hypernyms h, test t
        WHERE h.category = t.word AND h.word != t.category
    )
SELECT * FROM hypernyms;
"""

make_query(recursion_query)

[('a', 'b'),
 ('b', 'c'),
 ('c', 'a'),
 ('d', 'e'),
 ('e', 'd'),
 ('f', 'd'),
 ('c', 'b'),
 ('a', 'c'),
 ('b', 'a'),
 ('f', 'e')]

### Now with real data

In [19]:
group_by_category = '''
    SELECT category, COUNT(*) as count
    FROM categories
    GROUP BY category
    HAVING COUNT(*) >= 65
    ORDER BY count DESC;
'''

len(make_query(group_by_category))

212

### Next steps:
- How do you deal with groups and hypernyms of hypernyms?
- Group handling
- Dropping the groups with less than 50 words?

# MVP: Validate if a word is in a category

* It appears that the categories database is too big. If we're to hold the entire database somewhere, it'll practically explod. It might just be faster to search linearly.
* At most this is O(n) time but it's very rare.

In [56]:
# Reduced height of recursion: can only move up 3 at least

def validate(word, category) -> bool:   
    validation_query = """
       WITH RECURSIVE 
        search(word, category, depth) AS(
            SELECT word, category, 0 FROM categories WHERE word = %s

            UNION 

            SELECT s.word, c.category, s.depth + 1
            FROM search s, categories c
            WHERE s.category = c.word AND s.word != c.category AND s.depth < 5
        )

        SELECT * 
        FROM search
        WHERE word = %s AND category = %s   
    """
    try:
        cursor.execute(validation_query, (word, word, category))
        result = cursor.fetchall()
        print(result)
        return len(result) > 0
    except Exception as e:
        conn.rollback()
        print(f"An error occurred: {e}")


result = validate("snail", "mollusk")
print(result)

[('snail', 'mollusk', 1)]
True

### We need to get all categories that "have enough words"

In [54]:
get_categories = """
    SELECT category, COUNT(*)
    FROM categories
    GROUP BY category
    HAVING COUNT(*) >= 65
    ORDER BY COUNT(*)
"""

# a recursive, difficult query
result = make_query(get_categories)
print(len(result))
print(result)

212
[('common fraction', 65), ('list', 65), ('indian', 65), ('food', 66), ('artifact', 66), ('cut', 66), ('protoctist genus', 66), ('information', 66), ('animal', 66), ('situation', 67), ('note', 67), ('poisonous plant', 67), ('flavorer', 67), ('ball', 67), ('company', 68), ('framework', 68), ('gathering', 69), ('compass point', 69), ('board', 69), ('gas', 69), ('cavity', 69), ('pain', 69), ('antibiotic', 69), ('employee', 70), ('program', 70), ('musician', 71), ('animal disease', 71), ('aquatic plant', 71), ('tract', 71), ('legume', 71), ('group action', 72), ('neural structure', 72), ('communication', 72), ('work', 72), ('organic compound', 72), ('dynasty', 73), ('mollusk family', 74), ('criminal', 74), ('mechanical device', 74), ('phylum', 74), ('feeling', 74), ('electrical device', 74), ('disease', 74), ('large indefinite quantity', 75), ('fern family', 75), ('linear unit', 75), ('house', 76), ('bag', 76), ('vessel', 76), ('asian', 76), ('reflex', 77), ('amphibian genus', 77), ('doctrine', 77), ('examination', 77), ('insect', 77), ('sauce', 77), ('movement', 77), ('organism', 77), ('people', 78), ('action', 78), ('statement', 78), ('mollusk genus', 79), ('skeletal muscle', 79), ('pine', 79), ('body', 79), ('weed', 79), ('light', 79), ('writing', 80), ('computer memory unit', 80), ('cry', 80), ('representation', 81), ('salt', 81), ('shop', 81), ('liliaceous plant', 81), ('small indefinite quantity', 81), ('force', 81), ('communicator', 82), ('happening', 82), ('beginning', 83), ('machine', 84), ('message', 85), ('official', 85), ('percoid fish', 85), ('expert', 86), ('number', 86), ('container', 86), ('car', 86), ('set', 87), ('garment', 87), ('abnormality', 87), ('pathology', 88), ('object', 88), ('act', 89), ('specialist', 89), ('decoration', 89), ('physical condition', 90), ('disorder', 90), ('organization', 90), ('covering', 91), ('conifer', 91), ('word', 93), ('trait', 93), ('region', 93), ('building', 94), ('compound', 95), ('plant genus', 95), ('man', 96), ('reptile family', 98), ('material', 98), ('rosid dicot family', 98), ('natural process', 101), ('american', 102), ('part', 102), ('containerful', 102), ('change', 103), ('european', 103), ('body part', 104), ('digit', 104), ('rate', 105), ('division', 106), ('monocot family', 106), ('party', 107), ('acid', 108), ('dilleniid dicot family', 108), ('law', 109), ('day', 112), ('worker', 112), ('process', 113), ('point', 113), ('fungus', 113), ('woman', 113), ('group', 114), ('unpleasant person', 114), ('skilled worker', 114), ('gymnosperm genus', 115), ('magnoliid dicot genus', 116), ('support', 117), ('property', 117), ('bone', 118), ('agent', 119), ('measuring instrument', 119), ('noise', 119), ('wood', 119), ('sound', 122), ('inflammation', 124), ('liliid monocot genus', 126), ('motion', 127), ('letter', 128), ('edible fruit', 130), ('agaric', 130), ('monetary unit', 134), ('organic process', 137), ('subshrub', 137), ('area', 140), ('grass', 140), ('system', 140), ('fungus family', 142), ('orchid', 146), ('state', 146), ('operation', 151), ('angiospermous tree', 152), ('agency', 152), ('artery', 152), ('large integer', 156), ('room', 157), ('collection', 159), ('chemical element', 160), ('activity', 161), ('plant order', 164), ('fruit tree', 171), ('caryophylloid dicot genus', 173), ('time period', 175), ('mineral', 181), ('wildflower', 189), ('symptom', 190), ('fern', 194), ('line', 195), ('dicot family', 198), ('dish', 203), ('condition', 206), ('device', 209), ('fabric', 217), ('structure', 220), ('fern genus', 221), ('mammal family', 237), ('medicine', 241), ('vine', 245), ('metallic element', 246), ('position', 254), ('quality', 256), ('fungus genus', 258), ('flower', 264), ('vein', 270), ('bird family', 294), ('reptile genus', 297), ('fish family', 353), ('arthropod family', 387), ('dilleniid dicot genus', 402), ('monocot genus', 429), ('class', 430), ('dicot genus', 441), ('tree', 460), ('arthropod genus', 502), ('rosid dicot genus', 562), ('fish genus', 571), ('asterid dicot genus', 584), ('animal order', 591), ('person', 644), ('mammal genus', 698), ('shrub', 744), ('bird genus', 779), ('herb', 914)]

In [57]:
import random

categories = [x[0] for x in make_query(get_categories)]

assert len(categories) == len(set(categories))

random.shuffle(categories)

score = 0
num_categories = 0;

guess = ""

idx = 0

while guess != "STOP":
    category = categories[idx % len(categories)]
    print(f"Category: {category} Current score: {score}")
    
    num_categories += 1
    
    guess = input("Enter your guess: ")
    if guess == "STOP":
        break
    while(not validate(guess, category) and guess != "SKIP" and guess != "STOP"):
        guess = input("Incorrect guess, try again: ")
        
    if guess != "SKIP":
        score += len(guess)
    idx += 1

if score >= 1000:
    print(f"Game complete! Final number of categories: {num_categories}")
else:
    print("You exited the game")

Category: program Current score: 0

Enter your guess:  engineering

[('engineering', 'program', 1), ('engineering', 'program', 3), ('engineering', 'program', 4), ('engineering', 'program', 5)]
Category: common fraction Current score: 11

Enter your guess:  denominator

[]

Incorrect guess, try again:  SKIP

[]
Category: monocot genus Current score: 11

Enter your guess:  SKIP

[]
Category: linear unit Current score: 11

Enter your guess:  kilometer

[('kilometer', 'linear unit', 1)]
Category: region Current score: 20

Enter your guess:  europe

[]

Incorrect guess, try again:  northern

[]

Incorrect guess, try again:  northern region

[]

Incorrect guess, try again:  east asia

[]

Incorrect guess, try again:  north america

[]

Incorrect guess, try again:  STOP

[]
You exited the game